.SignInPage {
    text-align: center;
}

.SignInForm form {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.SignInForm input {
    margin: 5px;
}

.SignInPage button {
    font-size: 18px;
    border-radius: 8px;
    margin: auto 10px 10px 10px;
    padding: 5px;
    border: none;
    background-color: #CDEAC0;
    box-shadow: -5px 5px 0 #FFAC81;
}


.SignInPage button:active {
    box-shadow: -2px 2px 0 #FFAC81;
    transform: translateY(3px);
}

.SignInPage p a {
    font-size: 16px;
    color: black;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.SignInPage p a:hover {
    color: #FF928B;
}