.SignUpPage { 
   text-align: center;
}

 form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    align-items: center;
}

.SignUpForm input {
    margin-top: 5px;
    margin-bottom: 5px;
}